<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <img src="../img/fav.png" alt="Foto" class="rounded-circle" width="150">
            <h1 class="display-4">Sanz</h1>
            <p class="lead">Tester | Tutor</p>
        </div>
    </div>
</div>